
/* REGISTER */
.form-control{
  background-color: transparent;

}

/* VISTA DASHBOARD USER */
.table_dashboard{
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'Inter', sans-serif;
}

/* VISTA RUTINA USER */
.table-rutina{
  margin: 0 auto;
  width: 1000px;
  font-family: 'Inter', sans-serif;
}

/* VISTA EVALUACION NUTRICIONAL CLIENT */
.form-control{
  color:white
}





