*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, h4, h3{
  margin-bottom: 0;
}

/* REGISTER */
.form-control{
  background-color: transparent;

}

/* VISTA DASHBOARD USER */
.table_dashboard{
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'Inter', sans-serif;
}

/* VISTA RUTINA USER */
.table-rutina{
  margin: 0 auto;
  margin-bottom: 80px;
  width: 1000px;
  font-family: 'Inter', sans-serif;
}

/* VISTA EVALUACION NUTRICIONAL CLIENT */
.form-control{
  color:white
}

/* DIET FORM */
.form-diet{

  width: 1100px;
  margin: 0 auto;
}





