.container{
  background-color: #1F1F25;
  height: 100vh;
}

.containers{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container_title{
  margin: 0 auto;

  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px
}

h3{
  font-family: 'Itim', cursive;
  color: #BF5AF2;
}

.btnCerrar{
  width: 40px;
  height: 25px;
  background-color: #5E5CE6;
  color: white;
  border:none;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.contenedor_card{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d910;
  padding: 40px 25px;
  border-radius: 6px;
}

.img_card{
  width: 170px;
  height: 37.17px;
}

p{
  text-align: center;
}
.contenedor_stroke{
  border: 1px solid #5E5CE6;
  padding: 40px 25px;
  border-radius: 3px;
}

.btnVer{
  margin-top: 20px;
  padding: 5px 20px 5px 20px ;
  background-color: #d9d9d910;
  color: white;
  border: 1px solid #5E5CE6;
  border-radius: 6px;
  align-self:center;

}

p{
  color: White;
}