.container{
  background-color: #1F1F25;
  height: 100vh;

}

.containerRutina{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rutina{
  display: flex;
  align-content: center;
}

h3{
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Itim', cursive;
  color: #BF5AF2;
}

.btnCerrar{
  padding: 5px 20px 5px 20px ;
  background-color: #5E5CE6;
  color: white;
  border-radius: 6px;
  align-self:flex-end;

}