.container{
  height: calc(100vh - 55px );
  background-color: #1F1F25;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_background{
  width: 800px;
  min-height: 600px;
  background-color: #d9d9d910;
  border-radius: 6px;
}

.title{
  margin-top: 40px;
  margin-left: 35px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 20px;

}

.hr{
  width: 750px;
  /* height: 15px; */

  color: #BF5AF2;
  margin: 0 auto;
  margin-bottom: 15px;

}

.container_user{
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.user_name{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.container_btns{
  display: flex;
  gap: 25px

}

.btn_user{
  padding: 3px 25px ;
  background-color: #d9d9d905;
  color: white;
  border: 1.5px solid #5E5CE6 ;
  border-radius: 6px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.btn_user:hover{
  background-color: #5E5CE6 ;
  color: white;
}

.icono_trash{
  height: 16px;
  margin-bottom: 5px;
}

.btn_trash{
  padding: 3px 25px ;
  background-color: #d9d9d905;
  color: white;
  border: 1.5px solid #5E5CE6 ;
  border-radius: 6px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 32px;
}

img, svg {
  vertical-align: none;
}



.btn_trash:hover{
  background-color: #5E5CE6 ;
  color: white;
}