.container{
  height: calc(100vh - 55px );
  background-color: #1F1F25;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain_client{
  width: 1000px;
}

.title{
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Itim', cursive;
  color: #BF5AF2;
}

.data_client{
  display: flex;
  justify-content: center;
  gap: 80px;
  color: white;
  border: 1.5px solid #BF5AF2;
  border-radius: 5px;
  padding: 10px 0;
}

/* REGISTROS MENSUALES */

.contain_periods{
  margin-top: 40px;
  margin-bottom: 20px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn_createPediods{
  padding: 3px 25px ;
  background-color: #5E5CE6 ;
  color: white;
  border: none;
  border-radius: 6px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.btn_crear{
  padding: 1px 20px ;
  background-color: #d9d9d905;
  color: white;
  border: 1.5px solid #5E5CE6 ;
  border-radius: 5px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.btn_crear:hover{
  background-color: #5E5CE6 ;
  color: white;
}

.icono_trash{
  height: 16px;
  margin-bottom: 8px;
}

.btn_trash{
  padding: 3px 25px ;
  background-color: #d9d9d905;
  color: white;
  border: 1.5px solid #5E5CE6 ;
  border-radius: 6px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 28px;
}

img, svg {
  vertical-align: none;
}

.btn_trash:hover{
  background-color: #5E5CE6 ;
  color: white;
}