.container{
  background-color: #1F1F25;
  min-height: calc(100vh - 55px);
  box-sizing: border-box;
  padding-bottom: 50px;

}

.container_background{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1200px;
  padding: 10px 0;
  background-color: #d9d9d910;
  border-radius:6px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  gap: 400px;
}

.title{
  font-size: 20px;

}

.btnCerrar{
  width: 40px;
  height: 25px;
  background-color: #5E5CE6;
  color: white;
  border:none;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  align-self: center;
}





