.container{
  background-color: #1F1F25;
  /* height: 100%; */
  min-height: calc(100vh - 55px);
  box-sizing: border-box;
  padding-bottom: 50px;
}

.contain{
  /* height: 100%; */
  min-height: calc(100vh - 399px);

}

.container_background{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1100px;
  height: 60px;
  border-radius:6px;
  font-family: 'Inter', sans-serif;
  background-color: #d9d9d905;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title{
  font-size: 20px;
}
.btnCerrar{
  width: 40px;
  height: 25px;
  background-color: #5E5CE6;
  color: white;
  border:none;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  align-self: center;
}

.contenedor{
  width: 1100px;
  min-height: calc(100vh - 359px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container_back{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1100px;
  padding: 10px 0;
  background-color: #d9d9d910;
  border-radius:6px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  gap: 375px;

}

.container_card{
  width: 250px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap:25px;
  row-gap:25px;
  height: 100%;
}

.card{
  background-color: #d9d9d915;
  border-radius: 6px;
  position:relative;
}


.img_card{
  width: 200px;
  height: 200px;
  padding: 12px;
  border-radius: 15px;
  object-fit: cover;
}

.name{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding-bottom: 12px;
}

.icono_trash{
  height: 15px;
}

.btn_trash{
  padding: 3px 5px ;
  background-color: #d9d9d905;
  color: white;
  border: none;
  border-radius: 2px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 12px;
  left: 166px;
}


.btn_trash:hover{
  background-color: #5E5CE6 ;
  border: none;
  color: white;
}

.btn_cerrar{
  width: 40px;
  height: 25px;
  background-color: #5E5CE6;
  color: white;
  border:none;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  align-self: center;
}