
img{
  width: 100%;
}


.container{
  background-color: #1F1F25;
  height: 100vh;

}

.title{
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Itim', cursive;
  text-align: center;
  color: #BF5AF2;

}

.containerRegistros{
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;

}

th, td{
  text-align: center;
}


.btnVer{
  padding: 1.8px 20px ;
  background-color: #1F1F25;
  color: white;
  border: 1.5px solid #5E5CE6 ;
  border-radius: 6px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.btnVer:hover{
  background-color: #5E5CE6 ;
  color: white;
}
