.form_food{
  color:white;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

Field{
  color:white;
}
.btnEnviar{
  padding: 3px 25px ;
  background-color: #5E5CE6;
  color: white;
  border: none;
  border-radius: 6px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  align-self: center;
  margin-bottom: 50px;
}