

.Navbar{
  background-color: #040105;
  color:white;
  height:55px;
  display: flex;
  align-items: center;
}

.Navbar_container{
  min-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 170px;
  height: 37.17px;
  cursor: pointer;
}

.container_btns{
  display: flex;
  gap: 20px;
}


.btn_register, .btn_login{
  background-color: #040105 ;
  padding: 2px 20px;
  color: white;
  border: 1.5px solid #5E5CE6;
  border-radius: 6px;
  text-decoration: none;
}

.btn_register:hover, .btn_login:hover{
  background-color: #5E5CE6;
  padding: 2px 20px;
  color: white;
  border: 1.5px solid #5E5CE6;
  border-radius: 6px;
  text-decoration: none;
}

.btn_register:active, .btn_login:active{
  background-color: #5E5CE6;
  border: 1.5px solid #5E5CE6;
}

